In [24]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [25]:
df=pd.read_csv('//Users/Parvati/Downloads/globalterrordata.csv')
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [26]:
df.shape

(181691, 135)

In [27]:
list(df.columns)

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'country_txt',
 'region',
 'region_txt',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'target1',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'gname',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'nkill',
 'nkillus',
 'nkillter',
 'nwound',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [28]:
df.dtypes

eventid        int64
iyear          int64
imonth         int64
iday           int64
approxdate    object
               ...
INT_LOG        int64
INT_IDEO       int64
INT_MISC       int64
INT_ANY        int64
related       object
Length: 135, dtype: object

In [29]:
df.rename(columns={'country_txt':'Country','region_txt':'Region','attacktype1_txt':'Attack_type','target1':'Target',
                   'nkill':'Killed','nwound':'Wounded','summary':'Summary','gname':'Group','targtype1_txt':'Target_type',
                   'weaptype1_txt':'Weapon_type','success':'Success','motive':'Motive'}, inplace=True)

In [30]:
list(df.columns)

['eventid',
 'iyear',
 'imonth',
 'iday',
 'approxdate',
 'extended',
 'resolution',
 'country',
 'Country',
 'region',
 'Region',
 'provstate',
 'city',
 'latitude',
 'longitude',
 'specificity',
 'vicinity',
 'location',
 'Summary',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'Success',
 'suicide',
 'attacktype1',
 'Attack_type',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'Target_type',
 'targsubtype1',
 'targsubtype1_txt',
 'corp1',
 'Target',
 'natlty1',
 'natlty1_txt',
 'targtype2',
 'targtype2_txt',
 'targsubtype2',
 'targsubtype2_txt',
 'corp2',
 'target2',
 'natlty2',
 'natlty2_txt',
 'targtype3',
 'targtype3_txt',
 'targsubtype3',
 'targsubtype3_txt',
 'corp3',
 'target3',
 'natlty3',
 'natlty3_txt',
 'Group',
 'gsubname',
 'gname2',
 'gsubname2',
 'gname3',
 'gsubname3',
 'Motive',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperps',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'Weapon_type',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'weapdetail',
 'Killed',
 'nkillus',
 'nkillter',
 'Wounded',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'propvalue',
 'propcomment',
 'ishostkid',
 'nhostkid',
 'nhostkidus',
 'nhours',
 'ndays',
 'divert',
 'kidhijcountry',
 'ransom',
 'ransomamt',
 'ransomamtus',
 'ransompaid',
 'ransompaidus',
 'ransomnote',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'nreleased',
 'addnotes',
 'scite1',
 'scite2',
 'scite3',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY',
 'related']

In [34]:
new_col=df[['iyear','Country','Region','city','latitude','longitude','location','Attack_type','Killed','Wounded','Group','Weapon_type','claimed','Target','Success','nwoundus','nkillus','nkillter','weapdetail','Motive','suicide']]

In [35]:
new_col.head()

,iyear,Country,Region,city,latitude,longitude,location,Attack_type,Killed,Wounded,...,Weapon_type,claimed,Target,Success,nwoundus,nkillus,nkillter,weapdetail,Motive,suicide
0,1970,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,NaN,Assassination,1.0,0.0,...,Unknown,NaN,Julio Guzman,1,NaN,NaN,NaN,NaN,NaN,0
1,1970,Mexico,North America,Mexico city,19.371887,-99.086624,NaN,Hostage Taking (Kidnapping),0.0,0.0,...,Unknown,NaN,"Nadine Chaval, daughter",1,NaN,NaN,NaN,NaN,NaN,0
2,1970,Philippines,Southeast Asia,Unknown,15.478598,120.599741,NaN,Assassination,1.0,0.0,...,Unknown,NaN,Employee,1,NaN,NaN,NaN,NaN,NaN,0
3,1970,Greece,Western Europe,Athens,37.997490,23.762728,NaN,Bombing/Explosion,NaN,NaN,...,Explosives,NaN,U.S. Embassy,1,NaN,NaN,NaN,Explosive,NaN,0
4,1970,Japan,East Asia,Fukouka,33.580412,130.396361,NaN,Facility/Infrastructure Attack,NaN,NaN,...,Incendiary,NaN,U.S. Consulate,1,NaN,NaN,NaN,Incendiary,NaN,0

In [37]:
new_col["Killed"]=new_col["Killed"].fillna(0)
new_col["Wounded"]=new_col["Wounded"].fillna(0)
new_col["Casualty"]=new_col["Killed"] + new_col["Wounded"]

In [38]:
new_col.head()

,iyear,Country,Region,city,latitude,longitude,location,Attack_type,Killed,Wounded,...,claimed,Target,Success,nwoundus,nkillus,nkillter,weapdetail,Motive,suicide,Casualty
0,1970,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,NaN,Assassination,1.0,0.0,...,NaN,Julio Guzman,1,NaN,NaN,NaN,NaN,NaN,0,1.0
1,1970,Mexico,North America,Mexico city,19.371887,-99.086624,NaN,Hostage Taking (Kidnapping),0.0,0.0,...,NaN,"Nadine Chaval, daughter",1,NaN,NaN,NaN,NaN,NaN,0,0.0
2,1970,Philippines,Southeast Asia,Unknown,15.478598,120.599741,NaN,Assassination,1.0,0.0,...,NaN,Employee,1,NaN,NaN,NaN,NaN,NaN,0,1.0
3,1970,Greece,Western Europe,Athens,37.997490,23.762728,NaN,Bombing/Explosion,0.0,0.0,...,NaN,U.S. Embassy,1,NaN,NaN,NaN,Explosive,NaN,0,0.0
4,1970,Japan,East Asia,Fukouka,33.580412,130.396361,NaN,Facility/Infrastructure Attack,0.0,0.0,...,NaN,U.S. Consulate,1,NaN,NaN,NaN,Incendiary,NaN,0,0.0

In [39]:
new_col.duplicated().sum()

10750

In [42]:
new_col.drop_duplicates(inplace = True)

In [43]:
new_col.duplicated().sum()

0

In [44]:
new_col.head()

,iyear,Country,Region,city,latitude,longitude,location,Attack_type,Killed,Wounded,...,claimed,Target,Success,nwoundus,nkillus,nkillter,weapdetail,Motive,suicide,Casualty
0,1970,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,NaN,Assassination,1.0,0.0,...,NaN,Julio Guzman,1,NaN,NaN,NaN,NaN,NaN,0,1.0
1,1970,Mexico,North America,Mexico city,19.371887,-99.086624,NaN,Hostage Taking (Kidnapping),0.0,0.0,...,NaN,"Nadine Chaval, daughter",1,NaN,NaN,NaN,NaN,NaN,0,0.0
2,1970,Philippines,Southeast Asia,Unknown,15.478598,120.599741,NaN,Assassination,1.0,0.0,...,NaN,Employee,1,NaN,NaN,NaN,NaN,NaN,0,1.0
3,1970,Greece,Western Europe,Athens,37.997490,23.762728,NaN,Bombing/Explosion,0.0,0.0,...,NaN,U.S. Embassy,1,NaN,NaN,NaN,Explosive,NaN,0,0.0
4,1970,Japan,East Asia,Fukouka,33.580412,130.396361,NaN,Facility/Infrastructure Attack,0.0,0.0,...,NaN,U.S. Consulate,1,NaN,NaN,NaN,Incendiary,NaN,0,0.0

In [45]:
new_col.fillna('')

,iyear,Country,Region,city,latitude,longitude,location,Attack_type,Killed,Wounded,...,claimed,Target,Success,nwoundus,nkillus,nkillter,weapdetail,Motive,suicide,Casualty
0,1970,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,,Assassination,1.0,0.0,...,,Julio Guzman,1,,,,,,0,1.0
1,1970,Mexico,North America,Mexico city,19.371887,-99.086624,,Hostage Taking (Kidnapping),0.0,0.0,...,,"Nadine Chaval, daughter",1,,,,,,0,0.0
2,1970,Philippines,Southeast Asia,Unknown,15.478598,120.599741,,Assassination,1.0,0.0,...,,Employee,1,,,,,,0,1.0
3,1970,Greece,Western Europe,Athens,37.99749,23.762728,,Bombing/Explosion,0.0,0.0,...,,U.S. Embassy,1,,,,Explosive,,0,0.0
4,1970,Japan,East Asia,Fukouka,33.580412,130.396361,,Facility/Infrastructure Attack,0.0,0.0,...,,U.S. Consulate,1,,,,Incendiary,,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,2017,Somalia,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,The incident occurred near the town of Balcad.,Armed Assault,1.0,2.0,...,1.0,Checkpoint,1,0.0,0.0,0.0,,,0,3.0
181687,2017,Syria,Middle East & North Africa,Jableh,35.407278,35.942679,The incident occurred at the Humaymim Airport.,Bombing/Explosion,2.0,7.0,...,0.0,Hmeymim Air Base,1,0.0,0.0,0.0,Mortars were used in the attack.,,0,9.0
181688,2017,Philippines,Southeast Asia,Kubentog,6.900742,124.437908,The incident occurred in the Datu Hoffer distr...,Facility/Infrastructure Attack,0.0,0.0,...,0.0,Houses,1,0.0,0.0,0.0,,,0,0.0
181689,2017,India,South Asia,Imphal,24.798346,93.94043,The incident occurred in the Mantripukhri neig...,Bombing/Explosion,0.0,0.0,...,0.0,Office,0,0.0,0.0,0.0,A thrown grenade was used in the attack.,,0,0.0
181690,2017,Philippines,Southeast Asia,Cotabato City,7.209594,124.241966,,Bombing/Explosion,0.0,0.0,...,0.0,Unknown,0,0.0,0.0,0.0,An explosive device containing a detonating co...,,0,0.0

In [46]:
new_col.describe()

,iyear,latitude,longitude,Killed,Wounded,claimed,Success,nwoundus,nkillus,nkillter,suicide,Casualty
count,170941.000000,166955.000000,1.669540e+05,170941.000000,170941.000000,112365.000000,170941.000000,113615.000000,113871.000000,111550.000000,170941.000000,170941.000000
mean,2003.060454,23.785280,-4.866105e+02,2.383975,3.036796,0.049241,0.888693,0.040030,0.047334,0.518494,0.038516,5.420771
std,13.187187,18.286682,2.109298e+05,11.550155,35.357878,1.096272,0.314513,3.102349,5.765411,4.255489,0.192439,41.781979
min,1970.000000,-53.154613,-8.618590e+07,0.000000,0.000000,-9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1991.000000,11.840929,7.446043e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2009.000000,31.528200,4.353553e+01,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,2014.000000,34.674866,6.901556e+01,2.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,4.000000
max,2017.000000,74.633553,1.793667e+02,1570.000000,8191.000000,1.000000,1.000000,751.000000,1360.000000,500.000000,1.000000,9574.000000

In [47]:
new_col.shape

(170941, 22)

In [48]:
new_col.to_csv('golter_data.csv')